<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp">
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/style.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="col-4">
          <img src="./assets/images/logo" alt="">
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer">
      <div class="border-bottom pt-4 pt-md-5 mb-4 mb-md-5">
        <div class="container">
          <div class="row">
            <div class="col-xl-6">
              <h2 class="h3 text-white mb-3">現在訂閱，獲得課程優惠碼！</h2>
            </div>
            <div class="col-xl-6">
              <form action="#">
                <div class="d-flex justify-content-xl-end mb-5">
                  <input class="border-0 px-3 py-2" type="email" name="email" id="email" placeholder="輸入您的電子信箱">
                  <input class="bg-primary border-0 text-white px-3 py-2" type="submit" value="訂閱">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-md-6">
                <h2 class="text-white">DOYOGA</h2>
                <ul class="list-unstyled mb-3">
                  <li class="mb-3"><a class="text-white" href="#">課程介紹</a></li>
                  <li class="mb-3"><a class="text-white" href="#">瑜珈空間</a></li>
                  <li class="mb-3"><a class="text-white" href="#">當月課表</a></li>
                </ul>
              </div>
              <div class="col-md-6 d-flex justify-content-md-center align-items-end">
                <p class="text-white">© 2021. All Rights Reserved.</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <ul class="d-flex justify-content-end list-unstyled">
              <li class="ms-3">
                <a href="#">icon</a>
              </li>
              <li class="ms-3">
                <a href="#">icon</a>
              </li>
              <li class="ms-3">
                <a href="#">icon</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>