@import "node_modules/bootstrap/scss/functions";
@import "helpers/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/utilities/api";
@import "helpers/utilities";
@import "node_modules/bootstrap/scss/bootstrap";

@import 'helpers/minix';
@import 'helpers/base';

@import 'components/banner';
@import 'components/images';

.notice {
    width: 445px;
    max-width: 100%;
}

.btn-reverse {
    margin-right: 30px;
}

.list-style-disc {
    list-style-type: disc;
}

// .banner-img4 {
//     @include banner ('../images/photo-1540206276207-3af25c08abc4.jpeg', 0px, 0px, 628px);
// }

.title {
    font-size: 36px;
}

.note-for-class {
    width: 100px;

    @include pc () {
        width: 579px;
    }
}